<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Welcome to Tracely</title>
  <link href="/public/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  
</head>

<body style="background-color: #fff;color: #000;text-align: center;font-size: 1em;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
	<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
	    <tr><td align="center" valign="top">
	      <table width="600" id="main" border="0" cellpadding="0" cellspacing="0" style="background-color: #fef9e2;padding: 20px;border: 5px solid #bc420d;">
	        <tr>
	          <td id="header" colspan="3" style="text-align: center;">
	            <a href="http://trace.ly/" target="_blank" style="color: #bc420d;text-decoration: none;"><img src="https://tracely-assets.s3.amazonaws.com/assets/tracely_logo.png" width="250" height="100" alt="Tracely"></a>
	          </td>
	        </tr>
	        <tr>
			  <td colspan="3"><p style="text-align: left;">Hi <%= @fullname %>,</p></td>
	        </tr>
	        <tr>
	          <td colspan="3">
				<p style="text-align: left;">My name is Shubham and I am the founder of <a href="http://trace.ly" 
					target="_blank" style="color: #bc420d;text-decoration: none;">Tracely</a>. First of all I would like to 
					thank you for signing up and using the application. I really appreciate that. I know that the site is 
					not even to close to the functionality that we would like to have but we wanted to ship a beta version 
					out as soon as possible. So please bear us for a little while.</p>
				<p style="text-align: left;">We are currently working on some really cool and exciting features for the application which 
					would be released soon. In the mean time please keep using the application and feel free to give us a shout
					in case you see any issues. Just hit the reply button and start the conversation. 
					We would love to get your feedback. You can also follow us on twitter at 
					<a href="http://twitter.com/tracelyapp" target="_blank" style="color: #bc420d;text-decoration: none;">@Tracelyapp</a>
				</p>
	          </td>
	        </tr>
			<tr>
				<td>
					<ul>
						<li><b style="color: #bc420d;"><u>Manage your daily tasks</u></b><br>
						Tracely lets you create a daily journal of the tasks that you need to accomplish on a given day. 
						You can check the tasks that you have accomplished as the day goes on. Also you can search all 
						your historical tasks right from the tasks page.</li>
						<li><b style="color: #bc420d;"><u>Categorize your tasks</u></b><br>
						You can assign your tasks to one (or more) of the 3 baskets - Action Item, Back Burner and Reference Items. 
						This is based on David Allen's Getting Things Done methodology. Any task that needs your instant attention 
						should go in 'Action Item' basket; Anything that needs to be done in future should go in the 
						'Back Burner' bucket; and anything that you would like to refer to a late stage like a blog 
						or a link,etc should be in the 'References' basket.</li>
						<li><b style="color: #bc420d;"><u>Develop new habits</u></b><br>
						We all make many New Years resolutions every year but hardly stick to any. Most of the times we forget 
						to keep track of it. The reason is that there is no one place where we could keep track of our 
						progress. Well Tracely will help you do exactly that. You would be able to better track all your 
						resolutions, or those habits that you are trying to develop.</li>
					</ul>
				</td>
			</tr>
			<tr><td>
				<p style="text-align: left;">Once again I would like to thank you for using <a href="http://trace.ly" 
					target="_blank" style="color: #bc420d;text-decoration: none;">Tracely</a> and giving us a shot. 
					I promise we won't let you down.</p>
			</td></tr>
			<tr><td>
				<p style="text-align: left;">Cheers,<br/>Shubham</p>
				<p style="text-align: left;">For any questions, comments or feedback, just hit reply :)</p>
			</td></tr>
	      </table>
	    </td></tr>
	  </table>
</body>
</html>
