<div class="status_bar">
	<span class="status"><%= link_to 'Add New Folder', new_folder_path %></span>
</div>

<% @folders.each do |folder| %>
    <span><%= folder.name %></span>
    <span class="small_links"><%= link_to 'Edit', edit_folder_path(folder) %> | </span>
    <span class="small_links"><%= link_to 'Destroy', folder, confirm: 'Are you sure?', method: :delete %></span>
	<br />
<% end %>
