<%= content_for(:title, "Tracely - New Task for #{current_user.fullname}" )%>
<div class="form_container">
	<h1 class="form_header">Add a new task</h1>
	<div class="seperator"></div>
	<%= render 'form' %>
</div>
<%= render :partial => "common/basket_hint" %>

