<div style="font-family: 'Helvetica Neue', Helvetica, sans-serif;">
	<div style="border:2px solid #000;width:52%;padding:30px 10px;float:left;border-radius:10px;">
		<%= image_tag("tasks_small.png", :alt => "Tracely") %>
	</div>
	<div style="float:left;width:40%;margin-left:20px">
		<h1 style="line-height:1em;font-size:1.75em;font-weight:normal;font-family:georgia;text-align:center;color:#B64926">
			Manage your daily tasks and habits efficiently.</h1>
	</div>
	<div style="clear:both"></div>
	<div style="float:left;margin-left:20px;width:40%">
		<h3 style="color:#8E2800">Manage your daily tasks and errands</h3>
		<p style="font-size:0.9em">Tracely lets you create a daily journal of the tasks that you need to accomplish on a given day. 
			You can check the tasks that you have accomplished as the day goes on. Also you can search all your 
			historical tasks right from the tasks page.</p>
		<h3 style="color:#8E2800">Categorize your tasks</h3>
		<p style="font-size:0.9em">You can assign your tasks to one (or more) of the 3 baskets - Action Item, Back Burner and Reference Items.
			This is based on David Allen's Getting Things Done methodology. Any task that needs your instant attention
			should go in 'Action Item' basket; Anything that needs to be done in future should go in the 'Back Burner' bucket;
		 	and anything that you would like to refer to a late stage like a blog or a link,etc should be in the 'References' basket</p>
		<h3 style="color:#8E2800">Develop new habits</h3>
		<p style="font-size:0.9em">We all make many New Years resolutions every year but hardly stick to any. 
			Most of the times we forget to keep track of it. 
			The reason is that there is no one place where we could keep track of our progress. Well Tracely will help you 
			do exactly that. You would be able to better track all your resolutions, or those habits that you are trying to develop.</p>
	</div>
</div>
