<div>
	<div class="main_page_image">
		<%= image_tag("tasks_small.png", :alt => "Tracely") %>
	</div>
	<div class="main_page_top">
		<p class="main_page_header">Manage your daily tasks and habits efficiently.</p>
		<p class="main_page_register_link">
			<%= link_to 'SIGN UP FOR A FREE ACCOUNT', new_user_registration_path, :class => 'button green primary extrabig' %>
			<p style="text-align:center">For a limited time only.</p>
		</p>
	</div>
	<div class="clear"></div>
	<div class="features">
		<div class="feature_container">
			<h3>Manage your daily tasks.</h3>
			<p>Tracely lets you create a daily journal of the tasks that you need to accomplish on a given day. 
				You can check the tasks that you have accomplished as the day goes on. Also you can search all your 
				historical tasks right from the tasks page.</p>
		</div>
		<div class="feature_container">
			<h3>Categorize your tasks.</h3>
			<p>You can assign your tasks to one (or more) of the three baskets - Action Item, Back Burner 
				and Reference Items.
				This is based on David Allen's Getting Things Done methodology. Any task that needs your instant attention
				should go in 'Action Item' basket; Anything that needs to be done in future should go in the 'Back Burner' bucket;
			 	and anything that you would like to refer to a late stage like a blog or a link,etc should be in the 'References' basket</p>
		</div>
		<div class="feature_container">
			<h3>Develop new habits.</h3>
			<p>We all make many New Years resolutions every year but hardly stick to any. 
				Most of the times we forget to keep track of it. 
				The reason is that there is no one place where we could keep track of our progress. Well Tracely will help you 
				do exactly that. You would be able to better track all your resolutions, or those habits that you are trying to develop.</p>
		</div>
	</div>
	
</div>
