// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.main_page_top {float:left;line-height:1.5em;}
span.main_page_header {font-size:2.25em;line-height:1em;font-weight:normal;vertical-align:middle;text-align:center;color:#B64926}
span.main_page_register_link{margin-left:20px}
div.main_page_image {border:1px solid #000;width:51.5%;margin:20px auto;padding:20px}
div.features {float:left;background-color:#FFDFA4;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.feature_container{float:left;padding:0 20px;width:45%;margin:10px 0}
div.feature_container h3 {color:#8E2800;text-decoration:underline}
div.feature_container p {font-size:0.9em}