// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.task {font-size:1em;}
span.taskname {line-height:1.5em;}
span.taskname a {color:#000;text-decoration:none;}
span.taskname a:hover {color:#FFF;text-decoration:none;background-color:#000;text-shadow:none;}
.task_date {padding:3px;line-height:1.5em;text-shadow:none;border-bottom:1px solid #A0A0A0;font-size:1.125em;color:#555;}
.task_search {float:right;padding:5px 10px 5px 10px;color:#000;font-size:1em;width:200px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);border:solid 1px #bbb;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.task_form_search {float:right;}
#task_search_form {position:relative;}
#task_search_form input#task_search_button {background: url(search_icon.png) top left no-repeat;width:16px;height:16px;
	display:block;border:none;position:absolute;top:7px;right:7px;border-image:initial;}
#task_search_form input#task_search_button:hover {background: url(search_icon.png) 0 -40 no-repeat;}
#task_name.task_name_input {width:60%;}