<div class="email_container">
	<div class="email_body">
		<div class="logo_image_container">
			<%= link_to image_tag("tracely_logo.png", :alt => "Tracely"), root_path %>
		</div>
		<div class="email_body_content">
			<p class="email_body_title">Hi, <%= @resource.fullname %>!</p>
			<p class="email_body_intro">
				Someone has requested a link to change your password, and you can do this through the link below.
			</p>
			<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
			<p class="email_text">
				If you didn't request this, please ignore this email.Your password won't change until you access the 
				link above and create a new one.
			</div>
			<p class="email_text">Thanks for using Tracely. We really appreciate it.</p>
			<p class="email_text">Cheers,</p>
			<p class="email_text">Tracely Team</p>
		</div>
		<div class="email_contact">
			For any questions or concerns, feel free to contact us at <a href="mailto:support@hautworks.com">support@hautworks.com</a> 
			or just reply to this email.
		</div>
	</div>
</div>

