<div class="hint_container">
	<h1>Account Settings</h1>
	<p>This is your profile page and has all your personal information. Here is a list of things you can do here.</p>
	<ul>
		<li>You can update all your personal details here like email, password, etc.</li>
		<li>You can setup daily reminders regarding your tasks and habits here. Just select the daily email reminder checkbox and 
			we will send you an email with your tasks and habits for the day.</li>
		<li>If you would like to delete your account, you can do that here. Please remember that once you delete your account you would 
			lose all your information on Tracely.</li>	
	</ul>
</div>