<div class="hint_container">
	<h1>What is a basket?</h1>
	<p>Each task can be assigned to one of the three baskets <span class="basket action_item">Action Item</span>
		 <span class="basket back_burner">Back Burner</span> or <span class="basket reference">Reference</span>.</p>
	<ul>
		<li>If the task requires an immediate action, it should be put in the <span class="basket action_item">Action Item</span> basket.</li>
		<li>If the task doesn't need an immediate action and should be worked on in the future, it should be put in the 
			<span class="basket back_burner">Back Burner</span> basket. Tasks for future projects would normally be put in this basket.</li>
		<li>If the task doesn't require any action but needs to be archived for future use, it should be put in the 
			<span class="basket reference">Reference</span> basket.</li>
		
	</ul>
</div>