<div class="hint_container">
	<h1>Managing Habits?</h1>
	<p>Old habits are hard to break and new habits are even harder to form. Well - not anymore.</p>
	<p>With Tracely, you will be able to create new habits and keep track of your performance each day. Here is how in a few steps.</p>
	<ul>
		<li>Go ahead and create a new habit that you would like to develop using the form on the left.</li>
		<li>You can click on the calender to update your progress. <span class="circle good"></span> means that
			the task was completed on the day and <span class="circle bad"></span> means you were not able to complete the task.</li>
		<li>Studies have normally shown that if you keep doing something for at least 30 days continuously it becomes a part 
			of your behavior. </li>
	</ul>
</div>