<h4 class="habit_header"><%= link_to_if user == current_user, "#{habit.title.upcase}", edit_user_habit_path(current_user, habit) %> </h4>
<div class="clear"></div>
<% if habit.traces.empty? %>
	<%= render "habits/calendar_month", :month => Date.today.beginning_of_month, :traces => [], :habit => habit, 
		:display_link => (user == current_user) %>
<% else %>
	<% habit.traces.group_by {|t| t.tracedate.beginning_of_month}.each do |month, traces|%>
		<%= render "habits/calendar_month", :month => month, :traces => traces, :habit => habit, :display_link => (user == current_user) %>
	<% end %>
<% end %>
<div class="clear"></div>