<h4 class="habit_header"><%= link_to_if user == current_user, "#{habit.title.upcase}", edit_user_habit_path(current_user, habit), 
	name: habit.id %> </h4>
<div class="clear"></div>
<% if habit.traces.empty? %>
	<%= render "habits/calendar_month", :month => Date.today.beginning_of_month, :traces => [], :habit => habit, 
		:display_link => (user == current_user) %>
<% else %>
	<% (habit.created_at.to_date..Date.today).group_by { |d| d.beginning_of_month}.keys.each do |date| %>
		<% if traces.has_key?(date) %>
			<%= render "habits/calendar_month", :month => date, :traces => traces[date], :habit => habit,
		 	:display_link => (user == current_user) %>
		<% else %>
			<%= render "habits/calendar_month", :month => date, :traces => [], :habit => habit, 
				:display_link => (user == current_user) %>
		<% end %>
	<% end %>
<% end %>
<div class="clear"></div>