<%= content_for(:title, "Tracely - Edit Habit for #{current_user.fullname}" )%>
<div class="form_container">
	<h1 class="form_header">Edit the habit</h1>
	<%= render 'form' %>
</div>
<%= render :partial => "common/habit_hint" %>