<%= content_for(:title, "Tracely - New Habit for #{current_user.fullname}" )%>
<div class="form_container">
	<h1 class="form_header">Create a new habbit</h1>
	<%= render 'form' %>
</div>
<%= render :partial => "common/habit_hint" %>